#session1{
    width: 100%;
    background-color: #d9d9d9;
    background-image: url('./assets/fundo.svg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    position: relative;
}
.description{
    width: 50%;
    padding: 100px 0 100px 100px;
}
.description h1{
    font-size: 45px;
}
.description p{
    margin: 30px 0;
}
.description button{
    width: 45%;
    height: 45px;
    background-color: #152563;
    border: none;
    font-weight: 600;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
    transition-duration: 0.6s;
}
.description button:hover{
    background-color: #fff;
    color: #152563;
    width: calc(45% * 1.1);
}
.circle{
    width: 35%;
    padding-top: 33%;
    background-image: url('./assets/empresa.jpg');
    background-size: auto 100%;
    background-position: top left;
    border-radius: 50%;
    position: absolute;
    right: 2%;
    bottom: -150px;
    border: 15px solid #1f1f1f;

}

@media screen and (max-width : 1178px){

    .circle{
        width: 40%;
        padding-top: 39%;
    }
    .description{
        padding: 80px 0 80px 20px;
    }
}
@media screen and (max-width : 955px){
    .description{
        padding: 45px 0;
        width: 45%;
    }
    .circle {
        width: 50%;
        padding-top: 49%;
    }
}
@media screen and (max-width : 768px){
    .description{
        padding: 20px 0;
        width: 60%;
    }
    .description h1{
        font-size: 30px;
    }
    .description p{
        font-size: 15px;
        margin: 13px 0;
    }
    .description button{
        font-size: 17px;
    }

    .circle{
        width: 40%;
        padding-top: 37%;
    }
}

@media screen and (max-width: 578px){
    #session1{
        background-position: 80% 0%;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .description{
        width: 80%;
        text-align: center;
    }
    .description h1{
        color: #d9d9d9;
    }
    .description button{
        width: 60%;
    }
    .circle{
        width: 75%;
        padding-top: 75%;
        position: relative;
        bottom: -50px;
        border: 10px solid #1f1f1f;
    }
}
    
