.session4{
    background-color: #354392;
    padding: 0 0 70px 0;
}
.box-img{
    width: 60%;
    display: flex;
    justify-content: end;
    position: relative;
}
.box-img .circle-fundo{
    width: 50%;
    padding-top: 50%;
    background-color: #373535d5;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    
}
.box-img .img-circle{
    width: 65%;
    padding-top: 65%;
    background-image: url('./assets/img1.jpg');
    background-size: auto 100%;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.box-cards{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-cards h2{
    margin: 10px 0 ;
    color: #FFFFFF;
}
.box-cards p{
    max-width: 350px;
    margin: 10px 0;
    color: #BDBFC1;
}
.box-cards .cards{
    width: 150%;
    margin-top: 60px;
    transform: translateX(-15%);
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    z-index: 2;
    
}
.box-cards .cards div{
    width: 32%;
    padding: 30px 2%;
    background-color: rgba(255, 255, 255, 0.859);
}
.box-cards .cards div h4{
    margin: 10px 0;
    font-size: 35px;
    color: #203894;
}
.box-cards .cards div li{
    list-style: none;
    font-size: 15px;
    text-align: left;
    color: #3a3939;
}
.box-cards .cards div span{
    margin-right: 2px;
}

@media screen and (max-width: 968px){
    .box-img .circle-fundo{
        width: 65%;
        padding-top: 65%;
        right: 0;
        top: 20%;
    }
    .box-img .img-circle{
        width: 75%;
        padding-top: 75%;
    }
    .box-cards .cards{
        width: 200%;
        transform: translateX(-23%);
    }
}

@media screen and (max-width: 768px){
    .box-cards .cards{
        width: 200%;
        transform: translateX(-25%);
        flex-direction: column;
        position: relative;
        margin-top: 20px;
        align-items: flex-end;
    }
    .box-cards .cards div{
        width: 48%;
        margin: 5px;
    }
    .box-cards .cards div:nth-of-type(1){
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .box-img .img-circle{
        width: 90%;
        padding-top: 90%;
    }
}
@media screen and (max-width: 578px){
    .box-img{
        width: 100%;
    }
    .box-img .circle-fundo, .img-circle{
        position: relative;
    }
    .box-cards{
        width: 100%;
        padding-top: 30%;
    }
    .box-cards .cards{
        width: 100%;
        transform: translateX(0);
    }
}