#session2{
    width: 100%;
    background-color: #1f1f1f;
    padding-top: 100px;
}
.images{
    position: relative;
    width: 60%;
    padding: 20px 0;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.images .img1{
    width: 70%;
    padding-top: 70%;
    background-image: url('./assets/carro1.jpg');
    background-size: auto 100%;
    background-position: right;
    border-radius: 50%;
}
.images .img2{
    width: 45%;
    padding-top: 40%;
    background-image: url('./assets/carro2.jpg');
    background-size: auto 100%;
    background-position: right;
    border-radius: 50%;
    border: 10px solid #1f1f1f;
    position: absolute;
    left: 10%;
    top: 35%;
}
.images .img3{
    width: 35%;
    padding-top: 33%;
    background-image: url('./assets/maquina-polimento.jpg');
    background-size: 100% auto;
    border-radius: 50%;
    border: 10px solid #005AD5;
}
.ofert{
    width: 40%;
    padding: 70px 10px 30px 10px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ofert h1{
    max-width: 400px;
    color: #d9d9d9;
    font-weight: 600;
}
.ofert h1>span{
    font-size: 37px;
    font-weight: 900;
    color: #005AD5;
}
.ofert p{
    margin: 25px 0;
    max-width: 400px;
    color: #ffffff;
}
.ofert ul{
    /* background-color: red; */
    width: 100%;
    max-width: 400px;
}
.ofert li{
    list-style: none;
    color: #d9d9d9;
}
.ofert li span{
    margin-right: 5px;
    color: #005AD5;
}
.ofert button{
    border: none;
    margin-top: 40px;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 60px;
    color: #d9d9d9;
    background-color: #034eb7;
    cursor: pointer;
    transition: 0.6s;
}
.ofert button:hover{
    background-color: #005AD5;
}

@media screen and (max-width: 768px){
    .images{
        justify-content: center;
    }
    .images .img2{
        top: 40%;
    }
    .ofert button{
        font-size: 17px;
    }
    .ofert h1{
        font-size: 27px;
    }
    .ofert h1>span{
        font-size: 30px;
    }
    .ofert p{
        font-size: 15px;
    }
    .ofert li{
        font-size: 14px;
    }
}

@media screen and (max-width: 578px){
    #session2{
        padding-top: 30px;
    }
    .images{
        width: 100%;
    }
    .images .img1{
        width: 100%;
        padding-top: 100%;
    }
    .images .img2{
        top: 60%;
        left: 100%;
        transform: translateX(-100%);
        width: 65%;
        padding-top: 60%;
    }
    .images .img3{
        border: 5px solid #005AD5;
        align-self: flex-start;
        
    }
    .ofert{
        width: 100%;
    }
}