@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif, Arial;
}
html, body{
    width: 100%;
    height: 100%;
}
.clean{
    clear: both;
}
.container{
    width: 100%;
    padding: 0 2%;
    margin: auto;
}